html, body {
	height: 100%;
}

#grid {
    display: 'flex';
    flexWrap: 'wrap';
    justifyContent: 'space-around';
}

#gridList {
    width: 100%;
    height: 100%;
    overflowY: 'auto';
    marginBottom: 24px;
}